.experiencedHeader {
  margin: 10px;
  text-align: center;
}

.heading {
  font-size: 42px;
  text-shadow: 1px 1px rgb(174, 166, 166);
  font-weight: bold;
}

@media (max-width: 768px) {
  .heading {
    font-size: 28px;
  }
}

.container {
  overflow: auto;
  white-space: nowrap;
}
